<%= simple_form_for (@user), url: '/login', method: 'post' do |f| %>

  <div class="field">
    <%= f.input :email, label: 'Email Address', placeholder: 'user@domain.com' %>
  </div>
  <div class="field">
    <%= f.input :password, label: 'Password', hint: 'No special characters.' %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Log In", class: "btn" %>
  </div>

<% end %>

  <p>New user? <%= link_to "Sign up now", signup_path %>

  </p>
