<div class="col-md-8 col-md-offset-2">

  <div class="col-xs-6 col-md-4">
    <h1>Account Profile</h1>
    <div class="gravatar-image">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change photo</a>
    </div>
    <div>
      <strong>Name:</strong>
      <%= @user.first_name %> <%= @user.last_name %>
    </div>
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <% if current_user != false %>
      <% if current_user == @user %>
      <%= link_to 'Edit', edit_user_path(@user) %>
      <% end %>
    <% end %>
  </div>
  <div class="col-xs-12 col-md-8">
    <h3>API Token</h3>

    <p>
      <%= @user.api_token %>
    </p>
  </div>

</div>
