<header>
  <nav class="navbar navbar-default navbar-static-top" id="artmapr-nav">
    <div class="container">

      <div class="col-md-4 navbar-header">
        <li><%= link_to image_tag("ArtMapr-Logo-05.png", :alt =>'ArtMapr Brand Logo', :width => 80),'/', :class => 'navbar-brand' %></li>
      </div>

      <div class="col-md-8">
        <ul class="nav navbar-nav navbar-right" role="navigation">
          <li class="nav-item"><%= link_to "Api Playground", '/playground' %></li>
          <li class="nav-item"><%= link_to "About", '/about' %></li>
          <li class="nav-item"><%= link_to "Contact", '/contact' %></li>
          <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle nav-item" data-toggle="dropdown">Account<b class="caret"></b></a>
            <ul class="dropdown-menu nav-item">
              <li><i class="fa fa-user fa-navbar">&nbsp;&nbsp;<%= link_to "Profile", current_user %></i></li>
              <li><i class="fa fa-cog fa-navbar">&nbsp;&nbsp;<%= link_to "Settings", '#' %></i></li>
              <li class="divider"></li>
              <li><i class="fa fa-power-off fa-navbar">&nbsp;&nbsp;<%= link_to "Log Out", logout_path %></i></li>
            </ul>
          </li>

          <% else %>
            <li><%= link_to "Log In", '/login', id: "login-button", class: "btn btn-outlined" %></li>
            <li><%= link_to "Sign Up", '/signup', id: "signup-button", class: "active btn btn-outlined" %></li>
          <% end %>
        </ul>
      </div>

    </div><!-- container -->
  </nav>
</header>
